<style>
 .navSearch {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: 22rem;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}

.btn-outline-danger{
  border-radius: 25px;
    padding: 0 1rem 0 1rem;
}
.form-control{
  border-radius: 25px;
    padding: 0 1rem 0 1rem;
    height: 2.5rem;
   
}
.btn-outline-danger span {
    display: inline-flex;
    align-items: center;
}
.nav-link[href="/signup"] b,
.nav-link[href="/login"] b,
.nav-link[href="/logout"] b{
    color: rgb(247, 34, 34);
}
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
     >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navSearch">
          <div class="navbar-nav search">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Destination" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">
                <span><i class="fa-solid fa-magnifying-glass"></i> Search</span>
              </button>
            </form>
          </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listings/new">Wander Lust Your Home </a>
             <%if(!currUser){%>   <!--  here req cant be directly accessed in ejs so we make use of locals via middleware
                                          res.locals.currUser=req.user; -->
            <a class="nav-link " href="/signup"><b>sign up</b></a>
            <a class="nav-link" href="/login"><b>Login</b> </a>
            <%}%>
             <%if(currUser){%>
            <a class="nav-link" href="/logout"><b>LogOut</b></a>
            <%}%>
          </div>
      </div>
    </div>
  </nav>